<div class="text-center">
  <div class="selected-post">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>


    <p>
      <!--<button class="btn btn-primary">Submit Comment</button>-->
    </p> 

      <div>
            <p>Post ID: {{id}}</p>
      <!--<button class="btn btn-sm btn-primary" data-id="{{id}}">Edit Post</button>-->
      <button class="btn btn-sm btn-danger" data-id="{{id}}">Delete Post</button>
      </div>

  </div>
</div>


<script src="./js/post.js"></script>